<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>58BFC8B7-754B-4F2D-B021-62E22A5FB3C4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>47541600-D856-4AA5-B369-5FEE20B837EA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8075C26A-B356-4ED7-93D4-527760C360F4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>754DD305-5947-4075-B6C2-3EE36D7D6BAF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B817B754-23F0-44A6-BA22-E4C6E6E2B396</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1FD0A97F-CFF9-446C-A250-A238EB769E17</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Joshua Walton</string>
	<key>description</key>
	<string>shortcuts for local configuration files</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Local Config Files</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>zshrc</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open zshrc</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>8075C26A-B356-4ED7-93D4-527760C360F4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string>/Applications/Atom.app</string>
				<key>sourcefile</key>
				<string>~/.zshrc</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>754DD305-5947-4075-B6C2-3EE36D7D6BAF</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string>/Applications/Atom.app</string>
				<key>sourcefile</key>
				<string>~/.irbrc</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>1FD0A97F-CFF9-446C-A250-A238EB769E17</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>irbrc</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open ~/.irbrc</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>B817B754-23F0-44A6-BA22-E4C6E6E2B396</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>rubocop</string>
				<key>subtext</key>
				<string></string>
				<key>text</key>
				<string>Open ~/.rubocop.yml</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>58BFC8B7-754B-4F2D-B021-62E22A5FB3C4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string>/Applications/Atom.app</string>
				<key>sourcefile</key>
				<string>~/.rubocop.yml</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>47541600-D856-4AA5-B369-5FEE20B837EA</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1FD0A97F-CFF9-446C-A250-A238EB769E17</key>
		<dict>
			<key>xpos</key>
			<integer>190</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
		<key>47541600-D856-4AA5-B369-5FEE20B837EA</key>
		<dict>
			<key>xpos</key>
			<integer>190</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>58BFC8B7-754B-4F2D-B021-62E22A5FB3C4</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>754DD305-5947-4075-B6C2-3EE36D7D6BAF</key>
		<dict>
			<key>xpos</key>
			<integer>190</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>8075C26A-B356-4ED7-93D4-527760C360F4</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>B817B754-23F0-44A6-BA22-E4C6E6E2B396</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.1.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
